$color-basic: #FFF;
$color-primary: #000;
$color-secondary: #FBE9BF;
$color-green: #88B884;;

$color-text-default: $color-primary;
$color-text-buttons: $color-primary;
$color-text-light: $color-secondary;
$color-text-green: $color-green;

$color-background-main: $color-basic;
$color-background-special: $color-secondary;
$color-background-inputs: $color-basic;
