$font-family-base: 'Nunito', sans-serif;

$font-size-small: 20px;
$font-size-base: 25px;
$font-size-title: 30px;

$line-height-base: 20px;
$line-height-large: 35px;

$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 500;
